@import url("header.css");
@import url("sidebar.css");

.contentWrapper {
  --ofill:#BE5046;
  --otxt:#56B6C2;
  --oind:var(--fill);
  --obkg:#21252B;


  --fill:#4B5363;
  --txt:#56B6C2;
  --ind:#BE5046;
  --bkg:#21252B;
  --sel:#9DA5B4;
  width: 100%;
  height: 100%;
  color: var(--txt);
  background-color: var(--bkg);
  font-family: Verdana, sans-serif;
  font-variant: normal;
  font-weight: 700;
  margin: 0px 0px 0px 0px;
  z-index: 1;
  display: inline-block;
}
.paragraph {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 0px;
  padding-left: 10px;
  margin-left: 10px;
  border-left: var(--ind) dashed 4px;
  color: #fbf9f4;
  max-width: 65%;
  line-height: 25px;
}
.paragraph p {
  height: 100%;
}


.pageBib {
  position:static;
  display: block;
  border-left: var(--ind) solid 4px;
  color: var(--txt);
  background-color: inherit;
  height: auto;
  width: 65%;
  padding-top: 20px;
  padding-bottom: 20px;
}
.pageBib:hover {
  background-color: var(--fill);
  border-left-color: var(--txt);
}
.pageBib a {
  margin-left: 10px;
  color: var(--txt);
  border-left-color: var(--txt);
}
.pageBib a:hover {
  color: var(--ind);
  border-left-color: var(--ind);
}
.pageBib .bibLink{
  text-decoration: underline;
  font-size: 30px;
  color: var(--ind);
  border-left-color: var(--ind);
}
.pageBib .bibLink:hover{
  color: var(--txt);
  border-left-color: var(--txt);
}


.spacing {
  display: inline-block;
  width: var(--size);
  height: var(--size);
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
a:link {
  text-decoration: none;
  color: inherit;
}
a:visited {
  color: inherit;
}
a:active {
  color: blue;
}

table.section {
  font-size: 18px;
  color: var(--txt);
  background-color: var(--fill);
  border-style: none;
  border-collapse: collapse;
  width: 250px;
  text-align: center;
  display: inline-table;
}
table.section td, table.section th {
  border-style: none;
  padding: 4px 7px;
}
table.section tr td:hover {
  background: var(--txt);
  color: var(--fill);
}
table.section thead th {
  font-size: 24px;
  background: var(--bkg);
  font-weight: bold;
  color: var(--txt);
  text-align: left;
}
.notdone {
  color: var(--txt);
  background-color: var(--ind);
  text-decoration: line-through;
}
