

.contentWrapper {
  --ofill:#BE5046;
  --otxt:#56B6C2;
  --oind:var(--fill);
  --obkg:#21252B;


  --fill:#4B5363;
  --txt:#56B6C2;
  --ind:#BE5046;
  --bkg:#21252B;
  max-width: 100%;
  height: 100%;
  color: var(--txt);
  background-color: var(--bkg);
  font-family: Verdana, sans-serif;
  font-variant: normal;
  font-weight: 700;
  margin: auto;
}
.spacing {
  width: var(--size);
  height: var(--size);
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
.pageTitle {
  top: 0;
  width: 100%;
  height: 50px;
  border-bottom: var(--ind) solid 4px;
  border-left: var(--ind) solid 4px;
  display: inline-block;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
  padding-right: 5px;
  height: 50px;
  line-height: 50px;
}
.pageTitle * {
  color: var(--txt);
  font-size: 30px;
  height: 100%;
  margin-top: 0px;
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
  text-align: center;
}
.headerLink {
  margin-left: 0px;
  padding-left: 15px;
  border-left: var(--txt) solid 4px;
}
.signature {
  float: right;
  width: auto;
  margin-left: auto;
  margin-right: 15px;
}
.signature p {
  color: var(--ind);
  border-left: var(--ind) solid 4px;
  padding-left: 15px;
}

.sidebar {
  position: absolute;
  right: 6px;
  display: block;
  margin-right: 0%;
  padding-bottom: -10px;
  max-width: 30%;
  background-color: var(--fill);
  border-left: var(--ind) solid 4px;
}
.sidebar * {
  width: 100%;
  margin-bottom: 0px;
  margin-top: 0px;
}

.sideTable {
  display: inline-table;
  text-align: center;
  border-collapse:collapse;
  margin-top: 0px;
  margin-bottom: 0px;
}
.sideTable td {
  height:50px;
  font-size: 25px;
  font-style: bold;
  background: var(--fill);
  border-style: none;
  width: 50%;
}
.sideTable td a {
  color: inherit;
}
.sideTable td:hover  {
  color: var(--fill);
  background: var(--txt);
  border-left: var(--ind) solid 4px;
}

.paragraph {
  display: inherit;
  margin-bottom: 20px;
  margin-right: 0px;
  padding-left: 10px;
  border-left: var(--ind) dashed 8px;
  float: left;
  max-width: 65%;
}
.paragraph p {
  height: 100%;
}

a:link {
  text-decoration: none;
  color: inherit;
}
a:visited {
  color: inherit;
}
a:hover {
  color: hotpink;
}
a:active {
  color: blue;
}

table.section {
  font-size: 18px;
  color: var(--txt);
  background-color: var(--fill);
  border-style: none;
  border-collapse: collapse;
  width: 250px;
  text-align: center;
  display: inline-table;
  margin-right: 20px;
}
table.section td, table.section th {
  border-style: none;
  padding: 4px 7px;
}
table.section tr:nth-child(even) {
  background: var(--txt);
  color: var(--fill);
}
table.section thead th {
  font-size: 24px;
  background: var(--bkg);
  font-weight: bold;
  color: var(--txt);
  text-align: left;
}
